.btn-primary {
	background-color: #336aa1;
	border-color: #336aa1;
}

.btn-primary:hover {
 background-color: #7d92a8;
}

.navbar {
	background-color: #336aa1;
}

.jumbotron {
	padding: 176px 0 120px;
	background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url('../images/conf.jpeg') no-repeat center / cover;
	color: #fff;
}

.speakers {
	padding: 60px 0;
}

.speakers .card {
	margin-bottom: 20px;

}

.speakers .card-body {
	height: 268px;
}